---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="0ctothorp - My piece of internet">
  <style>
    #articles > li {
        padding-left: 2rem;
        text-indent: -2rem;
      }

      #articles > li::before {
        content: "👉 ";
      }
  </style>  

  <main class:list={["w-11/12 sm:w-[55ch] m-auto pt-10 space-y-10 sm:text-lg"]}>
    <p>Hi 👋 My name is Kamil and this is my personal cyber space.</p>
    <p>
      I develop software by day and make <a
        href="https://0cto.link"
        >music</a
      > by night.
    </p>
    <p>
      I sometimes make blogposts out of my notes:
    </p>

    <ul id="articles" class:list={["list-inside"]}>
      <li>
        <a
          href="https://hungry-midnight-212.notion.site/Contain-an-aspect-ratio-element-inside-a-parent-with-just-CSS-31eb84dada8446fc88bb222bf0cf5daf"
          target="_blank"
          >Contain an aspect-ratio element inside a parent with just CSS</a
        >
      </li>
      <li>
        <a
          href="https://hungry-midnight-212.notion.site/Pausable-and-reversible-SVG-SMIL-animations-4bc0e96b570d48818cc486ec2c4d1aa8"
          target="_blank">Pausable and reversible SVG SMIL animations</a
        >
      </li>
      <li>
        <a
          href="https://hungry-midnight-212.notion.site/Auto-sized-modal-with-scrollable-content-28ee5d47910a4741adaf0401d15ee14f"
          target="_blank"
        >
          Auto-sized modal with scrollable content
        </a>
      </li>
    </ul>
    <p>I'll make a proper blog here one day...</p>
  </main>

  <Footer />
</Layout>
