---
import { Picture } from "@astrojs/image/components";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import img from "../assets/voices.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .gradient {
        background: rgb(10, 9, 8);
        background: linear-gradient(
          0deg,
          rgba(10, 9, 8, 1) 0%,
          rgba(10, 9, 8, 1) 65%,
          rgba(255, 255, 255, 0) 80%
        );
      }
      #play {
        clip-path: polygon(10% 10%, 90% 50%, 90% 50%, 10% 90%);
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        transition: clip-path 1s, width 1s 1s, height 1s 1s,
          opacity 300ms ease-in, background-color 1s;
      }

      #play.expanded {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
      }
    </style>
  </head>
  <body class="bg-[#0a0908]">
    <div class="grid grid-cols-[1fr_2fr_1fr] h-screen">
      <div></div>
      <div class="relative flex justify-center items-center">
        <Picture
          src={img}
          widths={[512, 1024]}
          sizes="(max-width: 1199px) 512px, 1024px"
          alt="pic"
          class="max-h-screen"
        />
        <div id="play-button-hover-zone" class="absolute w-3/4 h-3/4">
          <div class="w-full h-full flex items-center justify-center">
            <div id="play" class="w-36 h-36 opacity-0 absolute overflow-hidden">
              <div
                id="youtube-embed-wrapper"
                class="opacity-0 transition-opacity duration-300 w-full h-full flex flex-col"
              >
                <div
                  id="iframe-wrapper"
                  class="flex-grow p-[2%] "
                >
                <div id="player-wrapper" class="aspect-video">
                </div>
                  
                </div>
                <button class="text-6xl text-white mx-auto my-2">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <script>
      import { wait } from "../utils";
      const play = document.querySelector("#play") as HTMLDivElement;
      const hoverZone = document.querySelector(
        "#play-button-hover-zone"
      ) as HTMLDivElement;

      hoverZone.onmouseenter = () => {
        play.style.opacity = "1";
      };

      hoverZone.onmouseleave = () => {
        if (play.classList.contains("expanded")) return;
        // @ts-ignore
        delete play.style.opacity;
      };

      const embedWrapper = document.querySelector(
        "#youtube-embed-wrapper"
      ) as HTMLDivElement;
      const playerWrapper = document.querySelector(
        "#player-wrapper"
      ) as HTMLDivElement;

      play.onclick = async () => {
        play.classList.add("expanded");
        await wait(2001);
        const { width, height } = playerWrapper.getBoundingClientRect();
        // aspect ratio!
        playerWrapper.innerHTML = `<iframe width=${Math.floor(
          width
        )} height=${Math.floor(
          height
        )} src="https://www.youtube-nocookie.com/embed/c8Gsh5oOWNE?enablejsapi" title="Voices From the Abyss" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>`;

        var tag = document.createElement("script");
        tag.id = "iframe";

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // let player;
        window.onYouTubeIframeAPIReady = () => {
          new YT.Player("iframe", {
            events: {
              onReady: onPlayerReady,
            },
          });
        };

        function onPlayerReady(event) {
          console.log("sup?");
          embedWrapper.style.opacity = "1";
          console.log(event.target)
          event.target.playVideo();
        }
      };
    </script>
  </body>
</html>
