---
import type { Heading } from './types';

interface Props {
    headings: Heading[];
    class?: string | undefined;
}

const { headings, class: className } = Astro.props;

const depth = headings[0]!.depth;
---

<ul class:list={['list-inside', depth > 2 && '*:ml-4', className]}>
  {
    headings.map((heading) => {
      return (
        <>
            <li><a data-slug={heading.slug} href={`#${heading.slug}`}>{heading.text}</a></li>
            {heading.subheadings?.length! > 0 && <Astro.self headings={heading.subheadings!} />}
        </>
      );
    })
  }
</ul>