<span 
    class:list={[
        'bg-yellow-400', 
        'before:content-["(TODO:_"]', 
        'after:content-[")"]',
        'after:-ml-1',
        "text-sm", 
        "text-gray-800", 
        'px-1', 
        'rounded'
    ]}
>
    <slot />
</span>