@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-yellow-200;
  }

  a:hover {
    @apply text-indigo-400;
  }

  h1 {
    @apply text-xl uppercase text-indigo-400;
  }

  h2 {
    @apply text-lg uppercase text-indigo-300 !mt-14;
  }

  pre {
    @apply p-2;
  }
}

@layer components {
  .finger-li {
    padding-left: 2rem;
    text-indent: -2rem;
  }

  .finger-li::before {
    content: "👉 ";
  }
}
